:root {
    --main-bg-color: #f5f5f5;
    --container-bg-color: white;
    --color-primary: lightskyblue;
    --color-primary-dark: rgb(61, 159, 219);
}

@font-face {
    font-family: 'headerFont';
    src: url("assets/fonts/pdark.woff");
}

body {
    text-align: center;
    padding: 0em;
    font-family: 'headerFont';
    max-width: 1500px;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(270deg, rgba(135, 206, 250, 0) 0%, rgba(135, 206, 250, 0.6)100%);
    background: -moz-linear-gradient(270deg, rgba(135, 206, 250, 0) 0%, rgba(135, 206, 250, 0.6)100%);
    background: -webkit-linear-gradient(270deg, rgba(135, 206, 250, 0) 0%, rgba(135, 206, 250, 0.6)100%);
}

ul {

    list-style-type: none;
}

.container {
    background-color: var(--container-bg-color);
    border-radius: 15px;
    box-shadow: 0 0 10px var(--color-primary);
    color: var(--color-primary-dark);
}

.main-header {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.title {

    font-size: 5em;
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    color: var(--color-primary);

}

.main {

    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    margin: 5% 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-ini {
    padding: 30px;
}

.form-ini input {
    height: 30px;
    width: 300px;
}

.form-ini input:focus {

    outline: none;
}

.form-title {
    font-size: 4em;
    color: var(--color-primary-dark);

}

.shadow-btn {

    background-color: transparent;
    border: 0px;
    border-radius: 3px;
    margin: 10px 0px;
    cursor: pointer;
    color: var(--color-primary);
    font-size: 1em;
}

.button-start {
    padding: 10px;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    font-family: 'headerFont';

    -webkit-transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;

}

.fa-chevron-right {
    transform: translatey(0px);
    animation: transColor 6s ease-in-out infinite
}

.buttons-mode {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.buttons-mode button {

    margin: 0 15px;
    font-weight: bold;
    outline: none;
}

.buttons-mode button:hover {

    animation: shadow 6s ease-in-out;
    -webkit-animation: shadow 6s ease-in-out;
}

.mode-selected {

    box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 1);
}

.input-name {

    border: 0px;
    background: rgba(135, 206, 250, 0.3);
    border-radius: 7px;
}

.carousel-color {

    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#button-ready {
    font-weight: normal;
    font-size: 3em;
}

/* game styles*/

.game {

    width: 100%;
    height: 500px;
    margin: 20px 0;
    position: relative;
}

.box {
    position: absolute;
}

.blue-box {

    position: absolute;
    background-color: blue;
    width: 50px;
    height: 50px;
}

.same-box {
    position: absolute;
    width: 50px;
    height: 50px;
}

.game-wrapper {
    position: relative;
}

.game-status {
    margin: 20px;
    padding: 10px;
    width: fit-content;

}

.status ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    color: var(--color-primary-dark);
    font-size: 25px;
}

.heart {
    background-image: url("assets/images/heart0.png");
    width: 30px;
    height: 30px;
}

.coin {
    position: absolute;
    background-image: url("assets/images/coin_0.png");
    width: 32px;
    height: 32px;
}

.diamond {
    position: absolute;
    background-image: url("assets/images/diamond0.png");
    background-repeat: no-repeat;
    transform: scale(1.5);
    width: 50px;
    height: 50px;
}

#cuenta-atras {
    font-size: 200px;
    position: absolute;
    margin-top: 300px;
    margin-left: 750px;
    color: var(--color-primary-dark);
}

.power-up {
    animation: glowing 3s ease-in-out infinite;
    -webkit-animation: glowing 3s ease-in-out infinite;
}

/* on game finished*/


.game-finished {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    margin: 5% 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}


.ranking {


    margin: 30px;
    padding: 20px;
    display: flex;
}

.ranking li {

    margin: 10px;
}

.title-ranking {

    font-size: 30px;
}


.user,
.score,
.time {

    font-family: serif;
}

.user-title,
.score-title,
.time-title {

    border: 1px solid var(--color-primary);
    padding: 5px;
    font-family: 'header-font';
}




/* last class, as it acquires higher priority upon the other display options*/

.hidden {
    display: none;
}

/* animations */

@keyframes glowing {

    0% {
        background-color: rgba(135, 206, 250, 1);
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 1);
    }

    50% {
        background-color: rgba(135, 206, 250, 0.2);
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 0.2);
    }

    100% {
        background-color: rgba(135, 206, 250, 1);
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 1);
    }

}

@keyframes transColor {

    0% {
        color: rgba(135, 206, 250, 1);
    }

    50% {
        color: rgba(135, 206, 250, 0.6);
    }

    100% {
        color: rgba(135, 206, 250, 1);
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 1);
    }

    50% {
        transform: translatey(-20px);
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 0.2);
    }

    100% {
        transform: translatey(0px);
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 1);
    }
}

@keyframes shadow {

    0% {
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 1);
    }

    50% {
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 0.2);
    }

    100% {
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 1);
    }
}