:root {
    --main-bg-color: #f5f5f5;
    --container-bg-color: white;
    --color-primary: lightskyblue;
    --color-primary-dark: rgb(61, 159, 219);
    ;
    ;
}

@font-face {
    font-family: 'headerFont';
    src: url("assets/fonts/pdark.woff");
}

@font-face {
    font-family: 'beware';
    src: url("assets/fonts/Beware.woff");
}

body {
    text-align: center;
    padding: 0em;
    font-family: "Work Sans", sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
    /* background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(51, 171, 204, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(51, 171, 204, 1) 100%);
    */
    background: linear-gradient(180deg, rgba(135, 206, 250, 0) 0%, rgba(135, 206, 250, 0.3)100%);
}


.hidden {
    display: none;
}

.container {

    background-color: var(--container-bg-color);
    border-radius: 15px;
    box-shadow: 0 0 10px var(--color-primary);
}

.main-header {

    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.title {

    font-size: 5em;
    font-family: 'headerFont';
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    color: var(--color-primary);

}

.main {

    position: relative;
    width: 100%;
    height: 100%;
    margin: 5% 0;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.form-ini {
    padding: 30px;
}

.form-ini input {
    height: 30px;
    width: 300px;
}

.form-ini input:focus {

    outline: none;

}

.form-title {
    font-size: 4em;
    font-family: 'headerFont';
    color: rgb(61, 159, 219);
    /* color: var(--color-primary-dark);*/
    /* 135, 206, 250*/
}

.button-start {

    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0px;
    border-radius: 3px;
    margin: 10px 0px;
    cursor: pointer;
    font-weight: bold;

    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;

    -webkit-transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;


}



.fa-chevron-right {


    transform: translatey(0px);
    animation: transColor 6s ease-in-out infinite
}

.input-name {


    border: 0px;
    background: rgba(135, 206, 250, 0.3);
    border-radius: 7px;
}

@keyframes transColor {


    0% {
        color: rgba(135, 206, 250, 1);
    }

    50% {
        color: rgba(135, 206, 250, 0.6);
    }

    100% {
        color: rgba(135, 206, 250, 1);
    }




}

@keyframes float {
    0% {
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 0.8);
        /* background-color: rgba(135, 206, 250, 0.6);
        */
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 0.2);
        ;
        /*background-color: rgba(135, 206, 250, 0.2);
        */
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 0px 50px 0px rgba(135, 206, 250, 0.8);
        ;
        /*background-color: rgba(135, 206, 250, 0.6);
        */
        transform: translatey(0px);
    }
}